<a href="https://colab.research.google.com/github/Thriveni1232/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Question 2

In [ ]:
Name ="E Thriveni"
Address ="Edneer, Kasaragod"
Telephone_no ="2165377809"
print(" Name:"+Name+"\n","Address:"+Address+"\n","Telephone no:"+Telephone_no)

 Name:E Thriveni
 Address:Edneer, Kasaragod
 Telephone no:2165377809

Question 3

In [ ]:
print("Your name is",Name)
Name="EThriveni"

Your name is E Thriveni

Question 4

In [ ]:
#area of a rectangle
Width = float(input("Enter the width: "))
Height = float(input("Enter the height: "))
area =Width * Height
print("The area is",area, "Square units")

Enter the width: 10
Enter the height: 3
The area is 30.0 Square units

Question 5

In [ ]:
#area of a triangle
Base= float(input(" Enter the width: "))
Height= float(input(" Enter the height: "))
area = .5*Base*Height
print(" The area is",area, "Square units")

 Enter the width: 9
 Enter the height: 7
 The area is 31.5 Square units

 Question 6

In [ ]:
#area of a circle
radius = float(input("Enter the radius: "))
area = 3.14*radius**2
print("The area is",area, "Square units")

Enter the radius: 43
The area is 5805.860000000001 Square units

Question 7

In [ ]:
Name = input("Enter your name: ")
Age =input(" Enter your age: ")
print("My name is "+Name+" and my age is " + Age)

Enter your name: E Thriveni
 Enter your age: 19
My name is E Thriveni and my age is 19

Question 8

In [ ]:
a=int(input(" Enter a number: "))
a=a+1
print(a)

 Enter a number: 6
7

Question 9

In [ ]:
input(" Enter your first name: ")

 Enter your first name: E

'E'